{{-- resources/views/auth/login.edge --}}

<form action="{{ route('auth.login') }}" method="POST">
  @if (flashMessages.has('form'))
    <div role="alert">
      {{ flashMessages.get('form') }}
    </div>
  @endif

  <label>
    Email
    <input type="text" name="uid" />
  </label>

  <label>
    Senha
    <input type="password" name="password" />
  </label>

  <button type="submit">Login</button>
</form>